.btn {
  padding: 10px 85px;
  margin: 10px 4px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;

  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: #0b8cfc;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid #0b8cfc;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
}

.btn:hover {
  border: 2px solid #0b8cfc;
  color: #0b8cfc !important;
}
.btn::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: yellow;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btn::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #90ee90;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.btn:hover::before,
.btn:hover::before {
  opacity: 1;
  width: 116%;
}
.btn:hover::after,
.btn:hover::after {
  opacity: 1;
  width: 120%;
}

.gearGroup1 {
  position: absolute;
  top: 10%;
  left: 80%;
}
.image1 {
  position: relative;
  top: 0;
  left: -50px;
  animation: rotate-left 3s linear infinite;
}
.image2 {
  position: absolute;
  top: -2px;
  left: -5px;
  animation: rotate-right 6s linear infinite;
}
.image3 {
  position: absolute;
  top: 80px;
  left: 5px;
  animation: rotate-left 6s linear infinite;
}

.gearGroup2 {
  position: absolute;
  top: 85%;
  left: 10%;
}
.image1_2 {
  position: relative;
  top: 50px;
  left: 70px;
  animation: rotate-left 3s linear infinite;
}
.image2_2 {
  position: absolute;
  top: -2px;
  left: -5px;
  animation: rotate-right 6s linear infinite;
}
.image3_2 {
  position: absolute;
  top: -65px;
  left: 5px;
  animation: rotate-left 6s linear infinite;
}

@keyframes rotate-left {
  form {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes rotate-right {
  form {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 768px) {
  .gearGroup1 {
    display: none;
  }
  .gearGroup2 {
    display: none;
  }
}

.rocket_text {
  padding-top: 150px;
  color: white;
  justify-content: center;
  align-content: center;
}
.rocket_col {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rocket_wrapper {
  position: absolute;
  width: 250px;
  height: 250px;
}
.rocket {
  position: relative;
  animation: rocket-move 1.5s linear infinite;
}
@keyframes rocket-move {
  0% {
  }
  25% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(30px);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
  }
}

.rocket_arr {
  position: relative;
  height: 50px;
  width: 0px;
  border-left: 7px solid white;
  top: -330px;
  left: 5%;
  border-radius: 20%;
  animation: arr_down 0.5s linear infinite;
}
.rocket_arr2 {
  position: relative;
  height: 50px;
  width: 0px;
  border-left: 7px solid white;
  top: -310px;
  left: 15%;
  border-radius: 20%;
  animation: arr_down 0.75s linear infinite;
}
.rocket_arr3 {
  position: relative;
  height: 50px;
  width: 0px;
  border-left: 7px solid white;
  top: -360px;
  left: 75%;
  border-radius: 20%;
  animation: arr_down 0.5s linear infinite;
}
.rocket_arr4 {
  position: relative;
  height: 50px;
  width: 0px;
  border-left: 7px solid white;
  top: -300px;
  left: 85%;
  border-radius: 20%;
  animation: arr_down 0.8s linear infinite;
}
.rocket_arr5 {
  position: relative;
  height: 50px;
  width: 0px;
  border-left: 7px solid white;
  top: -330px;
  left: 45%;
  border-radius: 20%;
  animation: arr_down 0.55s linear infinite;
}
.rocket_arr6 {
  position: relative;
  height: 50px;
  width: 0px;
  border-left: 7px solid white;
  top: -370px;
  left: 55%;
  border-radius: 20%;
  animation: arr_down 0.7s linear infinite;
}

@keyframes arr_down {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(300px);
  }
}
