* {
  box-sizing: border-box;
}
ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.loaredWrapper {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 99999;
}
