* {
  box-sizing: border-box;
}
ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.loaderWrapper {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 99999;
}
.col-lg-2 {
  padding: 0px 15px !important;
}
.col-md-2 {
  padding: 0px 15px !important;
}
.col-lg-4 {
  padding: 0px 15px !important;
}
.feature-image {
  margin-bottom: 25px;
}
.copyright {
  margin-bottom: 0px !important;
}
.navbar-nav {
  flex-direction: row !important;
}
.nav-link {
  margin: 0 2px;
}
.vh-20 {
  height: 20vh !important;
}
.vh-40 {
  height: 40vh !important;
}
.vh-60 {
  height: 60vh !important;
}
.vh-80 {
  height: 80vh !important;
}

@media (max-width: 768px) {
  .text-sm-center {
    justify-content: center !important;
  }
  .p-sm-2 {
    padding-left: 0.5rem !important;
  }
}
